# Built files
bin/

# Android project files
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/libs/
proj.android/local.properties
proj.android/obj/
cocos2d/cocos/platform/android/java/bin/
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/local.properties
cocos2d/cocos/platform/android/java/res/
.metadata/
.recommenders/

# Android Studio project files
*.iml
proj.android-studio/app/assets/
proj.android-studio/app/obj/
proj.android-studio/app/libs/
proj.android-studio/app/local.properties
proj.android-studio/*/build/
cocos2d/cocos/platform/android/libcocos2dx/build/

# iOS project files
cocos2d/build/build/
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/
proj.ios_mac/build/
proj.ios_mac/*.xcodeproj/project.xcworkspace
proj.ios_mac/*.xcodeproj/xcuserdata/
!*.pch

# Windows project files
cocos2d/cocos/2d/Debug.*/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.*/
cocos2d/external/Box2D/proj.win32/Debug.*/
cocos2d/external/bullet/proj.win32/Debug.*/
cocos2d/external/recast/proj.win32/Debug.*/
cocos2d/cocos/2d/Release.*/
cocos2d/cocos/editor-support/spine/proj.win32/Release.*/
cocos2d/external/Box2D/proj.win32/Release.*/
cocos2d/external/bullet/proj.win32/Release.*/
cocos2d/external/recast/proj.win32/Release.*/
proj.win32/*.sdf
proj.win32/*.opensdf
proj.win32/Debug.*/
proj.win32/Release.*/

# Vim swap files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
